<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <meta name = "Author" content = "Daniel Arteaga">
        <meta name = "Clase" content = "Análisis y Diseño de Sistemas">
        <meta name = "Maestro" content = "Ingeniero Julio Sandoval">
        <meta name = "Periodo" content = "I PAC 2021">
        <link rel="stylesheet" type="text/css" href="../styles/indexStyle.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="main-head">
                <div id="logoID">
                    <img src="images/Logo.png" alt="Proyecto Logo">
                </div>
            </header>
            <nav id="main-nav" class="main-nav">
                <button onclick="location.href='/back';">Regresar</button>
            </nav>
            <table>
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Fecha de Pago</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
              </table>
                <aside id="side" class="side">
                    <button id="cart">Carrito</button>
                    <div id="modalCart" class="modalCart">
                        <div id="modalContentCart" class="modalContentCart">
                            <span class="closeCart">&times;</span>
                        </div>
                    </div>
                </aside>
                <footer class="main-footer">Derechos Reservados 2021</footer>
            </div>
            <script src="../scripts/scriptTwo.js"></script>
        </body>
        </html>