<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <meta name = "Author" content = "Daniel Arteaga">
        <meta name = "Clase" content = "An치lisis y Dise침o de Sistemas">
        <meta name = "Maestro" content = "Ingeniero Julio Sandoval">
        <meta name = "Periodo" content = "I PAC 2021">
        <link rel="stylesheet" type="text/css" href="styles/paymentStyle.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="main-head">
                <div id="logoID">
                    <img src="images/Logo.png" alt="Proyecto Logo">
                </div>
            </header>
            <nav id="main-nav" class="main-nav">
                <button onclick="location.href='/loginPage';">Regresar</button>
            </nav>
            <div class="slideshow-container">
                <form action="register" method="POST">
                    <h3>Datos</h3>
                    <label for="dni">Cedula (Incluir guiones)</label>
                    <input type="text" id="dni" name="dni" placeholder="XXXX-XXXX-XXXX" maxlength="14" required>

                    <label for="fname">Nombre Completo</label>
                    <input type="text" id="fname" name="firstname" placeholder="John M. Doe" maxlength="40" required>

                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="john@ejemplo.com" maxlength="40" required>

                    <label for="phone">Telefono (Incluir guiones)</label>
                    <input type="text" id="phone" name="phone" placeholder="XXXX-XXXX" maxlength="9" required>

                    <label for="address">Dirreci칩n</label>
                    <input type="text" id="address" name="address" placeholder="Colonia Kennedy" maxlength="40" required>

                    <label for="city">Ciudad</label>
                    <input type="text" id="city" name="city" placeholder="Tegucigalpa" maxlength="40" required>

                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" placeholder="JohnDoe99" maxlength="20" required>

                    <label for="password">Contrase침a</label>
                    <input type="password" id="password" name="password" maxlength="20" required>

                    <button type="submit">Registrarse</button>
                </form>
            </div>
            <aside id="side" class="side">
            </aside>
            <footer class="main-footer">Derechos Reservados 2021</footer>
        </div>
    </body>
</html>