html, body 
{
    margin: 0px;
    background: #fffcfb;
}

button
{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin:10px 10px 50px 20px;
}

#usernameID, #passwordID
{
    color: white;
}

.side > input
{
    width: 140px;
    position: relative;
}

.main-head 
{
    grid-area: header;
    background: #fffcfb;
}
.content 
{
    grid-area: container;
}
.main-nav 
{
    grid-area: nav;
    background: #eb882c;
}
.side
{
    grid-area: sidebar;
    text-align: center;
    background: #222230;
}

.main-footer 
{
    grid-area: footer;
    text-align: center;
    background: #fffcfb;
}

.wrapper 
{
    display: grid;
    width: 99vw;
    height: 100vh;
    grid-template-areas:
    "nav header  sidebar"
    "nav    slideshow-container sidebar"
    "nav    slideshow-container sidebar"
    "nav footer  sidebar"
}

@media (min-width: 1224px) 
{
    .wrapper 
    {
      grid-template-columns: 1fr 3fr 1fr;
      width: 99vw;
      height: 100vh;
      grid-template-areas:
        "nav header  sidebar"
        "nav    slideshow-container sidebar"
        "nav    slideshow-container sidebar"
        "nav footer  sidebar"
     }
     nav details 
     {
       flex-direction: column;
     }
}

#container
{
    text-align: center;
}

#container > label
{
    display: block;
    text-align: center;
}

/*
    Definiendo el estilo del botón de Menu.
*/
#absoluteMenu > summary 
{
    cursor: pointer;
    text-align: center;
    background: #282828;
    color: white;
    margin: 6px;
    padding: 8px;
}

#absoluteMenu > summary:hover
{
    background: #3d3d3d;
}

#absoluteMenu > summary
{
    display: block;
}

/*
    Definiendo el estilo del botón de Electrodomestricos.
*/
#secondLevelDetail > summary
{
    cursor: pointer;
    text-align: center;
    background: #282828;
    color: white;
    margin: 3px 6px 3px 18px;
    padding: 8px;
}

#secondLevelDetail > summary:hover
{
    background: #3d3d3d;
}

#secondLevelDetail > summary
{
    display: block;
}

#secondLevelDetail > a
{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #282828;
    color: white;
    font-size: 15px;
    margin: 3px 6px 3px 28px;
    padding: 4px;
}

#secondLevelDetail > a:hover
{
    background: #3d3d3d;
}

/*
    Definiendo el estilo del botón de Tecnologia.
*/
#thirdLevelDetail > summary
{
    cursor: pointer;
    text-align: center;
    background: #282828;
    color: white;
    margin: 3px 6px 3px 18px;
    padding: 8px;
}

#thirdLevelDetail > summary:hover
{
    background: #3d3d3d;
}

#thirdLevelDetail > summary
{
    display: block;
}

#thirdLevelDetail > a
{
    display: block;
    text-decoration: none;
    text-align: center;
    background: #282828;
    color: white;
    font-size: 15px;
    margin: 3px 6px 3px 28px;
    padding: 4px;
}

#thirdLevelDetail > a:hover
{
    background: #3d3d3d;
}

/*
    Posición del logo.
*/
#logoID
{
    width: 85%;
    padding: 10px;
}

#container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
  background: #fffcfb;
} 

.modal-content 
{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    height: 50%;
}

.modalLogin 
{
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalContentLogin 
{
    background: #222230; 
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
}

.closeLogin 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLogin:hover,
.closeLogin:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalCart
{
    display: none;
    position: fixed;  
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modalContentCart
{
    background: #222230; 
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    overflow-y: initial;
    color: white;
}

.closeCart 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeCart:hover,
.closeCart:focus {
color: black;
text-decoration: none;
cursor: pointer;
}